.teksti {
    color: rgba(4, 55, 37, 1.5);
    font-size: 25px;
}

.teksti2{
    color: #b93a3a;
}


* {
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0px;
}

.content {
    /* background-color: darkgray;
    margin: 30px;
    border: solid 1px ;
    box-shadow: 0px 0px 0px red; */
}

.box-model {
    background-color: #b93a3a;
    
    /* shtyerja e brendshme - padding */
    /* padding-right: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 25px; */

    padding: 10px 20px 30px 40px;
    /* shorthand per padding ne te gjitha anet se bashku */
    padding: 50px;

    /*Border apo kufizimi*/

    /* border-color: blue;
    border-style: solid;
    border-width: 5px; */

    /* Shtyrthand per border */

    border: rgb(21,255,0) solid 5px;

    /* Shtyerja e jashtme - margin */

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 20px;

    /* shorthand per margin */
    margin: 10px 20px 30px 40px;

    /* shorthang per margin tgjitha anet bashk */
    margin: 100px;
}

.teksti3 {
    color: rgba(4, 55, 37, 1.5);
    font-size: 25px;
    font-weight: 900;
}

.kuti {
    background-color:deepskyblue;
    height: 60px;
    width: 60px;
    border: solid 3px rgb(13, 13, 151);
}

.kutite {
    border: solid 3px red;
    background:  yellow;
    height: 500px;

    /* Incializimi i flex'it */
    display: flex;

    /* Caktimi i drejtimit ( row ose column) */
    flex-direction: row;

    justify-content: center;

    align-items: flex-start;

    flex-wrap: wrap;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    transition: 300ms;
}

nav ul li a:hover {
    color: #ff8000;
}

.restaurant-section {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

.restaurant-section::before, .restaurant-section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom;
    background-color: rgba(255,128,0,0.8);
    z-index: -1;
    
}

.restaurant-section::before {
    right: 50%;
    transform: skewY(-5deg) translateX(50%)
}

.restaurant-section::after {
    left: 50%;
    transform: skewY(5deg) translateX(-50%)
}

#restaurant-info {
    flex: 1;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#restaurant-info h1 {
    color: #FF8000;
    font-size: 36px;
    margin-bottom: 20px;

}

#restaurant-info h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 40px;
}

#restaurant-info button {
    background-color: #FF8000;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border: solid 2px #FF8000;
    transition: 300ms;
}

#restaurant-info button:hover {
    background-color: #fff;
    color: #FF8000;
}

#restaurant-image {
    flex: 1;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    padding-top: 130px;
}

#restaurant-image img {
    max-width: 70%;
    height: auto;
    transition: 300ms;
}

#restaurant-image img:hover {
    transform: scale(1.2);
}

.image-overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 10px;
    opacity: 0;
    transition: 300ms;
}

#restaurant-image:hover .image-overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 50px;
}

.order-process-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
    margin-bottom: 10px;
    padding: 16px;
}

.order-process {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 30px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.order-process .icon img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;

}

.order-process h3 {
    font-size: 24px;
    margin: 8px 0;
}

.order-process p {
    font-size: 18px;
    text-align: center;
}

.original-taste {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    background: url('./images/original.jpg') no-repeat center fixed;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    text-align: center;
}

.original-taste .content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.original-taste .content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.original-taste .content button {
    background-color: #333;
    color: #fff;
    font-size: 22px;
    padding: 16px 25px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 300ms;
}

.original-taste .content button:hover {
    background-color: #191919;
}

.statistics {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #ff8000;
}

.section-description {
    font-size: 18px;
    margin-bottom: 50px;
}


.statistics-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background: #ff8000;
}

.statistic-number {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.statistic-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #333333;
}

.about-us {
    position: relative;
    height: 600px;
}

.about-us .background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./images/original-mmks.jpg');
    filter: blur(10px);
    z-index: -1;
}

.about-us-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    background-color: #ffffffa3;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.about-us-content h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-us-content h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ff8000;
}

.about-us-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.video {
    background-color: #ff8000;
    background-size: cover;
    background-position: center;
    background: blur(5px);
    padding: 50px 0;
}

.video_content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.video_header {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.video_text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 40px;
}

.video_player {
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
}

.video_iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.newsletter-section {
    background: #ff8000;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.newsletter-section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.newsletter-section label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.newsletter-section input {
    display: block;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.newsletter-section button {
    position: center;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address {
    text-align: center;
    margin-bottom: 16px;
}

.address h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.address p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.address a {
    font-size: 20px;
    color: #ff8000;
    margin-bottom: 20px;
}

.map {
     width: 100%;
     max-width: 900px;
     margin: 0 60px;
     margin-right: 60px;   
}

.address a:hover {
    color: #FF8000;
}

.contact-form {
    text-align: center;
    color: #ff8000;
    margin-bottom: 20px;
    flex-direction: column;
}

.contact-form h2 {
    margin: 40px 0;
    margin-bottom: 20px;
    font-size: 40px;
    color: #ff8000;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    padding: 60px;
}

.contact-form form label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.contact-form form input:focus {
    outline: none;
    border: solid 2px #ff8000;
}

.contact-form form button {
    background-color: #ff8000;
    color: #fff;
    border: none;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}

.contact-form form button:hover {
    background-color: #e97400;
}

.testimonials {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.testimonials h1 {
    font-size: 40px;
    font-weight: 700;
    color: #ff8000;
    margin-bottom: 50px;
    text-align: center;
}

.testimonial-contanier {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.testimonial-text {
    max-width: 500px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.testimonial-text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 30px;
}

.testimonial-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial-box img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 10px;
    object-fit: cover;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author-name {
    font-size: 35px !important;
    font-weight: 800;
    color: #ff8000;
    padding-left: 40px;
    margin-top: 10px;
}

footer {
    padding-top: 30px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.footer-content {
    display: flex;
    gap: 30px;
}


.footer-content .footer-column img {
    height: 150px;
}

.footer-content .footer-column h3 {
    text-align: left;
    color: #ff8000;
    font-size: 28px;
}

.footer-content .footer-column p {
    text-align: left;
}

.social-media-icons {
    display: flex;
    justify-content: space-between;
}

.social-media-icons a {
    text-decoration: none;
}

.social-media-icons i {
    color: #000;
}

.footer-bottom {
    background-color: #ff8000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #fff;
}